[submodule "GeoEventosAPI"]
    path = GeoEventosAPI
    url = git@github.com:AlfredoSWDev/GeoEventosAPI.git
    branch = main

[submodule "GeoEventosGUI"]
    path = GeoEventosGUI
    url = git@github.com:AlfredoSWDev/GeoEventosGUI.git
    branch = main

[submodule "GeoEventosAndroid"]
    path = GeoEventosAndroid
    url = git@github.com:AlfredoSWDev/GeoEventosAndroid.git
    branch = main
    
[submodule "GeoEventosWeb"]
    path = GeoEventosWeb
    url = git@github.com:AlfredoSWDev/GeoEventosWeb.git
    branch = main
